[color]
	ui = auto
[color.status]
	untracket = cyan
[core]
	excludesfile = /Users/z/.gitignore_global
	editor = nvim
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[protocol]
	version = 2
[gitreview]
	username = Zfilipin
	remote = origin
[user]
	name = Željko Filipin
	email = zeljko.filipin@gmail.com
